@using System.Text.Json
@model UserModel
@{
    ViewData["Title"] = "Main Page";
    var familyJson = Context.Session.GetString("FamiliaRegistrada");
    var family = string.IsNullOrEmpty(familyJson) ? null : JsonSerializer.Deserialize<Family>(familyJson);
}


<div class="text-center">
    <h2>Bem-vindo, @Model.Nome!</h2>
    <p>Email: @Model.Email</p>
    <p>Nível: @Model.Nivel</p>
</div>
<div class="d-flex justify-content-center gap-3 my-4">
    <a class="btn btn-primary w-100" asp-controller="Main" asp-action="FamReg">Registrar Família</a>
    <a class="@(family == null ? "btn btn-success w-100 disabled" : "btn btn-success w-100")" asp-controller="Rotina" asp-action="Index">Rotina</a>
    <a class="@(family == null ? "btn btn-warning w-100 disabled" : "btn btn-warning w-100")" asp-controller="Family" asp-action="Index">Gerenciar Familiar</a>
</div>
<div class="text-center">
    @if (family == null)
    {
        <p class="fw-bold">Nenhuma Familia encontrada</p>
    }
    else
    {
        <p class="fw-bold">Familia: @family.Nome</p>
    }
</div>
